/**
 * BODY
 */
body {
    color: $text-color;

    font: {
        size: 2em;
        family: $font-family-sans-serif;
        weight: 600;
    }

    background: $body-bg;
    min-height: 100vh;
    padding: 0 1.5rem;
}

/**
 * HEADER / LOGO
 */
.logo {
    color: $dark;
    font-size: 3.5em;
    font-weight: 600;
    margin: -0.1em 0 0;

    a:hover {
        border: none;
    }
}
