// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bulma
@import "~bulma/css/bulma.min.css";


body {
    font-family: $font-family-sans-serif;
    font-size: 2em;
    text-align: center;
    min-height: 100vh;
    color: $yellow;
    background: $body-bg;
}

.title {
    font-size: 5em;
    font-weight: bold;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
}
